Human-in-the-Loop_Gmail_Automation.json
{
    "name": "Integration Gmail, Google Gemini AI, Google Sheets",
    "flow": [
        {
            "id": 1,
            "module": "google-email:triggerWatchNewEmails",
            "version": 4,
            "parameters": {
                "from": "",
                "size": {
                    "unit": "M",
                    "amount": null,
                    "criteria": "larger"
                },
                "limit": 10,
                "folder": "INBOX",
                "format": "full",
                "subject": "",
                "criteria": "is:unread",
                "labelIds": "",
                "markSeen": true,
                "filterType": "simpleSearch",
                "__IMTCONN__": "YOUR_CONNECTION_ID",
                "excludeWords": "",
                "includeWords": "",
                "hasAttachment": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -467,
                    "y": 69
                },
                "restore": {
                    "parameters": {
                        "size": {
                            "nested": {
                                "unit": {
                                    "label": "MB (megabytes)"
                                },
                                "criteria": {
                                    "label": "Greater than"
                                }
                            }
                        },
                        "folder": {
                            "label": "Inbox"
                        },
                        "format": {
                            "label": "Full content"
                        },
                        "criteria": {
                            "label": "Only unread messages"
                        },
                        "labelIds": {
                            "label": "Empty"
                        },
                        "filterType": {
                            "label": "Simple filter"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (YOUR_EMAIL@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "labelIds",
                        "type": "select",
                        "label": "Label"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "is:read",
                                "is:unread"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 500
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "includeWords",
                        "type": "text",
                        "label": "Has the words"
                    },
                    {
                        "name": "excludeWords",
                        "type": "text",
                        "label": "Doesn't have"
                    },
                    {
                        "name": "size",
                        "spec": [
                            {
                                "name": "criteria",
                                "type": "select",
                                "label": "Criteria",
                                "validate": {
                                    "enum": [
                                        "larger",
                                        "smaller"
                                    ]
                                }
                            },
                            {
                                "name": "amount",
                                "type": "integer",
                                "label": "Size",
                                "validate": {
                                    "min": 0
                                }
                            },
                            {
                                "name": "unit",
                                "type": "select",
                                "label": "Size unit",
                                "validate": {
                                    "enum": [
                                        "M",
                                        "K",
                                        "bytes"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Email size"
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Only emails with attachments/media",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": "YOUR_CONNECTION_ID"
            },
            "mapper": {
                "model": "gemini-2.5-flash",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "Here's a lead inquiry:\n{{1.fullTextBody}}\n\nHere's the lead's name:\n{{1.fromName}}\n\nWrite a polite and engaging reply considering the leads inquiry and leads name.\n\nSome context:\nMy name is: \nYOUR_NAME",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "imageConfig": {},
                    "thinkingConfig": {},
                    "responseModalities": [
                        "text"
                    ]
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "You are a professional email assistant. Craft concise, personalized replies for the queries."
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": -23,
                    "y": 71
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "YOUR_GEMINI_CONNECTION_ID"
                            },
                            "label": "Gemini"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Image Configuration"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": "YOUR_CONNECTION_ID"
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{1.subject}}",
                    "1": "{{1.fromEmail}}",
                    "2": "{{1.threadId}}",
                    "3": "{{2.result}}"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 407,
                    "y": 67
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Mail Approval"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Subject (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Sender Mail (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Thread ID (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Gamil Draft (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Approval (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Status (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "(G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Docs (YOUR_EMAIL@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Subject (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Sender Mail (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Thread ID (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Gamil Draft (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Approval (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Status (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 7,
                        "module": "google-sheets:filterRows",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": "YOUR_CONNECTION_ID"
                        },
                        "mapper": {
                            "from": "drive",
                            "filter": [
                                [
                                    {
                                        "a": "E",
                                        "b": "Yes",
                                        "o": "text:equal"
                                    }
                                ],
                                [
                                    {
                                        "a": "E",
                                        "b": "No",
                                        "o": "text:equal"
                                    }
                                ]
                            ],
                            "sheetId": "Sheet1",
                            "sortOrder": "asc",
                            "spreadsheetId": "YOUR_SPREADSHEET_ID",
                            "tableFirstRow": "A1:CZ1",
                            "includesHeaders": true,
                            "valueRenderOption": "FORMATTED_VALUE",
                            "dateTimeRenderOption": "FORMATTED_STRING"
                        },
                        "metadata": {
                            "designer": {
                                "x": 333,
                                "y": 574,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "from": {
                                        "label": "Select from My Drive"
                                    },
                                    "orderBy": {
                                        "mode": "chose"
                                    },
                                    "sheetId": {
                                        "mode": "chose",
                                        "label": "Sheet1"
                                    },
                                    "sortOrder": {
                                        "mode": "chose",
                                        "label": "Ascending"
                                    },
                                    "spreadsheetId": {
                                        "mode": "chose",
                                        "label": "Mail Approval"
                                    },
                                    "tableFirstRow": {
                                        "label": "A-CZ"
                                    },
                                    "includesHeaders": {
                                        "mode": "chose",
                                        "label": "Yes"
                                    },
                                    "valueRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted value"
                                    },
                                    "dateTimeRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted string"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        },
                                        "label": "Google Docs (YOUR_EMAIL@gmail.com)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "from",
                                    "type": "select",
                                    "label": "Search Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "drive",
                                            "share"
                                        ]
                                    }
                                },
                                {
                                    "name": "valueRenderOption",
                                    "type": "select",
                                    "label": "Value render option",
                                    "validate": {
                                        "enum": [
                                            "FORMATTED_VALUE",
                                            "UNFORMATTED_VALUE",
                                            "FORMULA"
                                        ]
                                    }
                                },
                                {
                                    "name": "dateTimeRenderOption",
                                    "type": "select",
                                    "label": "Date and time render option",
                                    "validate": {
                                        "enum": [
                                            "SERIAL_NUMBER",
                                            "FORMATTED_STRING"
                                        ]
                                    }
                                },
                                {
                                    "name": "limit",
                                    "type": "uinteger",
                                    "label": "Limit"
                                },
                                {
                                    "name": "spreadsheetId",
                                    "type": "select",
                                    "label": "Spreadsheet ID",
                                    "required": true
                                },
                                {
                                    "name": "sheetId",
                                    "type": "select",
                                    "label": "Sheet Name",
                                    "required": true
                                },
                                {
                                    "name": "includesHeaders",
                                    "type": "select",
                                    "label": "Table contains headers",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            true,
                                            false
                                        ]
                                    }
                                },
                                {
                                    "name": "tableFirstRow",
                                    "type": "select",
                                    "label": "Column range",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "A1:Z1",
                                            "A1:BZ1",
                                            "A1:CZ1",
                                            "A1:DZ1",
                                            "A1:MZ1",
                                            "A1:ZZ1",
                                            "A1:AZZ1",
                                            "A1:BZZ1",
                                            "A1:CZZ1",
                                            "A1:DZZ1",
                                            "A1:MZZ1",
                                            "A1:ZZZ1"
                                        ]
                                    }
                                },
                                {
                                    "name": "filter",
                                    "type": "filter",
                                    "label": "Filter",
                                    "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                },
                                {
                                    "name": "orderBy",
                                    "type": "select",
                                    "label": "Order by"
                                },
                                {
                                    "name": "sortOrder",
                                    "type": "select",
                                    "label": "Sort order",
                                    "validate": {
                                        "enum": [
                                            "asc",
                                            "desc"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "__IMTLENGTH__",
                                    "type": "uinteger",
                                    "label": "Total number of bundles"
                                },
                                {
                                    "name": "__IMTINDEX__",
                                    "type": "uinteger",
                                    "label": "Bundle order position"
                                },
                                {
                                    "name": "__ROW_NUMBER__",
                                    "type": "number",
                                    "label": "Row number"
                                },
                                {
                                    "name": "__SPREADSHEET_ID__",
                                    "type": "text",
                                    "label": "Spreadsheet ID"
                                },
                                {
                                    "name": "__SHEET__",
                                    "type": "text",
                                    "label": "Sheet"
                                },
                                {
                                    "name": "0",
                                    "type": "text",
                                    "label": "Subject (A)"
                                },
                                {
                                    "name": "1",
                                    "type": "text",
                                    "label": "Sender Mail (B)"
                                },
                                {
                                    "name": "2",
                                    "type": "text",
                                    "label": "Thread ID (C)"
                                },
                                {
                                    "name": "3",
                                    "type": "text",
                                    "label": "Gamil Draft (D)"
                                },
                                {
                                    "name": "4",
                                    "type": "text",
                                    "label": "Approval (E)"
                                },
                                {
                                    "name": "5",
                                    "type": "text",
                                    "label": "Status (F)"
                                },
                                {
                                    "name": "6",
                                    "type": "text",
                                    "label": "(G)"
                                },
                                {
                                    "name": "7",
                                    "type": "text",
                                    "label": "(H)"
                                },
                                {
                                    "name": "8",
                                    "type": "text",
                                    "label": "(I)"
                                },
                                {
                                    "name": "9",
                                    "type": "text",
                                    "label": "(J)"
                                },
                                {
                                    "name": "10",
                                    "type": "text",
                                    "label": "(K)"
                                },
                                {
                                    "name": "11",
                                    "type": "text",
                                    "label": "(L)"
                                },
                                {
                                    "name": "12",
                                    "type": "text",
                                    "label": "(M)"
                                },
                                {
                                    "name": "13",
                                    "type": "text",
                                    "label": "(N)"
                                },
                                {
                                    "name": "14",
                                    "type": "text",
                                    "label": "(O)"
                                },
                                {
                                    "name": "15",
                                    "type": "text",
                                    "label": "(P)"
                                },
                                {
                                    "name": "16",
                                    "type": "text",
                                    "label": "(Q)"
                                },
                                {
                                    "name": "17",
                                    "type": "text",
                                    "label": "(R)"
                                },
                                {
                                    "name": "18",
                                    "type": "text",
                                    "label": "(S)"
                                },
                                {
                                    "name": "19",
                                    "type": "text",
                                    "label": "(T)"
                                },
                                {
                                    "name": "20",
                                    "type": "text",
                                    "label": "(U)"
                                },
                                {
                                    "name": "21",
                                    "type": "text",
                                    "label": "(V)"
                                },
                                {
                                    "name": "22",
                                    "type": "text",
                                    "label": "(W)"
                                },
                                {
                                    "name": "23",
                                    "type": "text",
                                    "label": "(X)"
                                },
                                {
                                    "name": "24",
                                    "type": "text",
                                    "label": "(Y)"
                                },
                                {
                                    "name": "25",
                                    "type": "text",
                                    "label": "(Z)"
                                },
                                {
                                    "name": "26",
                                    "type": "text",
                                    "label": "(AA)"
                                },
                                {
                                    "name": "27",
                                    "type": "text",
                                    "label": "(AB)"
                                },
                                {
                                    "name": "28",
                                    "type": "text",
                                    "label": "(AC)"
                                },
                                {
                                    "name": "29",
                                    "type": "text",
                                    "label": "(AD)"
                                },
                                {
                                    "name": "30",
                                    "type": "text",
                                    "label": "(AE)"
                                },
                                {
                                    "name": "31",
                                    "type": "text",
                                    "label": "(AF)"
                                },
                                {
                                    "name": "32",
                                    "type": "text",
                                    "label": "(AG)"
                                },
                                {
                                    "name": "33",
                                    "type": "text",
                                    "label": "(AH)"
                                },
                                {
                                    "name": "34",
                                    "type": "text",
                                    "label": "(AI)"
                                },
                                {
                                    "name": "35",
                                    "type": "text",
                                    "label": "(AJ)"
                                },
                                {
                                    "name": "36",
                                    "type": "text",
                                    "label": "(AK)"
                                },
                                {
                                    "name": "37",
                                    "type": "text",
                                    "label": "(AL)"
                                },
                                {
                                    "name": "38",
                                    "type": "text",
                                    "label": "(AM)"
                                },
                                {
                                    "name": "39",
                                    "type": "text",
                                    "label": "(AN)"
                                },
                                {
                                    "name": "40",
                                    "type": "text",
                                    "label": "(AO)"
                                },
                                {
                                    "name": "41",
                                    "type": "text",
                                    "label": "(AP)"
                                },
                                {
                                    "name": "42",
                                    "type": "text",
                                    "label": "(AQ)"
                                },
                                {
                                    "name": "43",
                                    "type": "text",
                                    "label": "(AR)"
                                },
                                {
                                    "name": "44",
                                    "type": "text",
                                    "label": "(AS)"
                                },
                                {
                                    "name": "45",
                                    "type": "text",
                                    "label": "(AT)"
                                },
                                {
                                    "name": "46",
                                    "type": "text",
                                    "label": "(AU)"
                                },
                                {
                                    "name": "47",
                                    "type": "text",
                                    "label": "(AV)"
                                },
                                {
                                    "name": "48",
                                    "type": "text",
                                    "label": "(AW)"
                                },
                                {
                                    "name": "49",
                                    "type": "text",
                                    "label": "(AX)"
                                },
                                {
                                    "name": "50",
                                    "type": "text",
                                    "label": "(AY)"
                                },
                                {
                                    "name": "51",
                                    "type": "text",
                                    "label": "(AZ)"
                                },
                                {
                                    "name": "52",
                                    "type": "text",
                                    "label": "(BA)"
                                },
                                {
                                    "name": "53",
                                    "type": "text",
                                    "label": "(BB)"
                                },
                                {
                                    "name": "54",
                                    "type": "text",
                                    "label": "(BC)"
                                },
                                {
                                    "name": "55",
                                    "type": "text",
                                    "label": "(BD)"
                                },
                                {
                                    "name": "56",
                                    "type": "text",
                                    "label": "(BE)"
                                },
                                {
                                    "name": "57",
                                    "type": "text",
                                    "label": "(BF)"
                                },
                                {
                                    "name": "58",
                                    "type": "text",
                                    "label": "(BG)"
                                },
                                {
                                    "name": "59",
                                    "type": "text",
                                    "label": "(BH)"
                                },
                                {
                                    "name": "60",
                                    "type": "text",
                                    "label": "(BI)"
                                },
                                {
                                    "name": "61",
                                    "type": "text",
                                    "label": "(BJ)"
                                },
                                {
                                    "name": "62",
                                    "type": "text",
                                    "label": "(BK)"
                                },
                                {
                                    "name": "63",
                                    "type": "text",
                                    "label": "(BL)"
                                },
                                {
                                    "name": "64",
                                    "type": "text",
                                    "label": "(BM)"
                                },
                                {
                                    "name": "65",
                                    "type": "text",
                                    "label": "(BN)"
                                },
                                {
                                    "name": "66",
                                    "type": "text",
                                    "label": "(BO)"
                                },
                                {
                                    "name": "67",
                                    "type": "text",
                                    "label": "(BP)"
                                },
                                {
                                    "name": "68",
                                    "type": "text",
                                    "label": "(BQ)"
                                },
                                {
                                    "name": "69",
                                    "type": "text",
                                    "label": "(BR)"
                                },
                                {
                                    "name": "70",
                                    "type": "text",
                                    "label": "(BS)"
                                },
                                {
                                    "name": "71",
                                    "type": "text",
                                    "label": "(BT)"
                                },
                                {
                                    "name": "72",
                                    "type": "text",
                                    "label": "(BU)"
                                },
                                {
                                    "name": "73",
                                    "type": "text",
                                    "label": "(BV)"
                                },
                                {
                                    "name": "74",
                                    "type": "text",
                                    "label": "(BW)"
                                },
                                {
                                    "name": "75",
                                    "type": "text",
                                    "label": "(BX)"
                                },
                                {
                                    "name": "76",
                                    "type": "text",
                                    "label": "(BY)"
                                },
                                {
                                    "name": "77",
                                    "type": "text",
                                    "label": "(BZ)"
                                },
                                {
                                    "name": "78",
                                    "type": "text",
                                    "label": "(CA)"
                                },
                                {
                                    "name": "79",
                                    "type": "text",
                                    "label": "(CB)"
                                },
                                {
                                    "name": "80",
                                    "type": "text",
                                    "label": "(CC)"
                                },
                                {
                                    "name": "81",
                                    "type": "text",
                                    "label": "(CD)"
                                },
                                {
                                    "name": "82",
                                    "type": "text",
                                    "label": "(CE)"
                                },
                                {
                                    "name": "83",
                                    "type": "text",
                                    "label": "(CF)"
                                },
                                {
                                    "name": "84",
                                    "type": "text",
                                    "label": "(CG)"
                                },
                                {
                                    "name": "85",
                                    "type": "text",
                                    "label": "(CH)"
                                },
                                {
                                    "name": "86",
                                    "type": "text",
                                    "label": "(CI)"
                                },
                                {
                                    "name": "87",
                                    "type": "text",
                                    "label": "(CJ)"
                                },
                                {
                                    "name": "88",
                                    "type": "text",
                                    "label": "(CK)"
                                },
                                {
                                    "name": "89",
                                    "type": "text",
                                    "label": "(CL)"
                                },
                                {
                                    "name": "90",
                                    "type": "text",
                                    "label": "(CM)"
                                },
                                {
                                    "name": "91",
                                    "type": "text",
                                    "label": "(CN)"
                                },
                                {
                                    "name": "92",
                                    "type": "text",
                                    "label": "(CO)"
                                },
                                {
                                    "name": "93",
                                    "type": "text",
                                    "label": "(CP)"
                                },
                                {
                                    "name": "94",
                                    "type": "text",
                                    "label": "(CQ)"
                                },
                                {
                                    "name": "95",
                                    "type": "text",
                                    "label": "(CR)"
                                },
                                {
                                    "name": "96",
                                    "type": "text",
                                    "label": "(CS)"
                                },
                                {
                                    "name": "97",
                                    "type": "text",
                                    "label": "(CT)"
                                },
                                {
                                    "name": "98",
                                    "type": "text",
                                    "label": "(CU)"
                                },
                                {
                                    "name": "99",
                                    "type": "text",
                                    "label": "(CV)"
                                },
                                {
                                    "name": "100",
                                    "type": "text",
                                    "label": "(CW)"
                                },
                                {
                                    "name": "101",
                                    "type": "text",
                                    "label": "(CX)"
                                },
                                {
                                    "name": "102",
                                    "type": "text",
                                    "label": "(CY)"
                                },
                                {
                                    "name": "103",
                                    "type": "text",
                                    "label": "(CZ)"
                                }
                            ]
                        }
                    },
                    {
                        "id": 9,
                        "module": "builtin:BasicRouter",
                        "version": 1,
                        "mapper": null,
                        "metadata": {
                            "designer": {
                                "x": 633,
                                "y": 574
                            }
                        },
                        "routes": [
                            {
                                "flow": [
                                    {
                                        "id": 8,
                                        "module": "google-email:replyToAnEmail",
                                        "version": 4,
                                        "parameters": {
                                            "__IMTCONN__": "YOUR_CONNECTION_ID"
                                        },
                                        "filter": {
                                            "name": "Approved",
                                            "conditions": [
                                                [
                                                    {
                                                        "a": "{{7.`4`}}",
                                                        "b": "Yes",
                                                        "o": "text:equal"
                                                    }
                                                ]
                                            ]
                                        },
                                        "mapper": {
                                            "bodyType": "collection",
                                            "contents": [
                                                {
                                                    "text": "{{7.`3`}}",
                                                    "image": {}
                                                }
                                            ],
                                            "threadId": "{{7.`2`}}",
                                            "replyMode": "all"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 965,
                                                "y": 430
                                            },
                                            "restore": {
                                                "expect": {
                                                    "from": {
                                                        "mode": "chose"
                                                    },
                                                    "bodyType": {
                                                        "label": "Collection of contents (text, images, etc.)"
                                                    },
                                                    "contents": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null
                                                        ]
                                                    },
                                                    "replyMode": {
                                                        "mode": "chose",
                                                        "label": "Reply to all (original sender, CCs, and known BCCs)"
                                                    },
                                                    "signature": {
                                                        "mode": "chose"
                                                    },
                                                    "attachments": {
                                                        "mode": "chose"
                                                    },
                                                    "emailHeaders": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                "parameters": {
                                                    "__IMTCONN__": {
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "google-email"
                                                        },
                                                        "label": "My Gmail connection (YOUR_EMAIL@gmail.com)"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "__IMTCONN__",
                                                    "type": "account:google-email",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "threadId",
                                                    "type": "text",
                                                    "label": "Thread ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "replyMode",
                                                    "type": "select",
                                                    "label": "Reply mode",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "all",
                                                            "sender",
                                                            "custom"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "from",
                                                    "type": "select",
                                                    "label": "From"
                                                },
                                                {
                                                    "name": "emailHeaders",
                                                    "spec": {
                                                        "name": "value",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Email header"
                                                    },
                                                    "type": "array",
                                                    "label": "Additional email headers"
                                                },
                                                {
                                                    "name": "bodyType",
                                                    "type": "select",
                                                    "label": "Body type",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "rawHtml",
                                                            "collection"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "attachments",
                                                    "spec": {
                                                        "name": "value",
                                                        "spec": [
                                                            {
                                                                "name": "filename",
                                                                "type": "filename",
                                                                "label": "File name",
                                                                "required": true,
                                                                "semantic": "file:name"
                                                            },
                                                            {
                                                                "name": "data",
                                                                "type": "buffer",
                                                                "label": "Data",
                                                                "required": true,
                                                                "semantic": "file:data"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Attachment"
                                                    },
                                                    "type": "array",
                                                    "label": "Attachments"
                                                },
                                                {
                                                    "name": "contents",
                                                    "spec": {
                                                        "name": "value",
                                                        "spec": [
                                                            {
                                                                "name": "text",
                                                                "type": "text",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "image",
                                                                "spec": [
                                                                    {
                                                                        "name": "filename",
                                                                        "type": "filename",
                                                                        "label": "File name",
                                                                        "semantic": "file:name"
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "type": "buffer",
                                                                        "label": "Data",
                                                                        "semantic": "file:data"
                                                                    },
                                                                    {
                                                                        "name": "width",
                                                                        "type": "uinteger",
                                                                        "label": "Width"
                                                                    },
                                                                    {
                                                                        "name": "height",
                                                                        "type": "uinteger",
                                                                        "label": "Height"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Image"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Body contents"
                                                },
                                                {
                                                    "name": "signature",
                                                    "type": "select",
                                                    "label": "Signature content"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "id": 19,
                                        "module": "google-sheets:updateRow",
                                        "version": 2,
                                        "parameters": {
                                            "__IMTCONN__": "YOUR_CONNECTION_ID"
                                        },
                                        "mapper": {
                                            "from": "drive",
                                            "mode": "select",
                                            "values": {
                                                "5": "Approved"
                                            },
                                            "sheetId": "Sheet1",
                                            "rowNumber": "{{7.`__ROW_NUMBER__`}}",
                                            "spreadsheetId": "YOUR_SPREADSHEET_ID",
                                            "includesHeaders": true,
                                            "valueInputOption": "USER_ENTERED"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1328,
                                                "y": 427
                                            },
                                            "restore": {
                                                "expect": {
                                                    "from": {
                                                        "label": "My Drive"
                                                    },
                                                    "mode": {
                                                        "label": "Search by path"
                                                    },
                                                    "sheetId": {
                                                        "label": "Sheet1"
                                                    },
                                                    "spreadsheetId": {
                                                        "path": [
                                                            "Mail Approval"
                                                        ]
                                                    },
                                                    "includesHeaders": {
                                                        "label": "Yes",
                                                        "nested": [
                                                            {
                                                                "name": "values",
                                                                "spec": [
                                                                    {
                                                                        "name": "0",
                                                                        "type": "text",
                                                                        "label": "Subject (A)"
                                                                    },
                                                                    {
                                                                        "name": "1",
                                                                        "type": "text",
                                                                        "label": "Sender Mail (B)"
                                                                    },
                                                                    {
                                                                        "name": "2",
                                                                        "type": "text",
                                                                        "label": "Thread ID (C)"
                                                                    },
                                                                    {
                                                                        "name": "3",
                                                                        "type": "text",
                                                                        "label": "Gamil Draft (D)"
                                                                    },
                                                                    {
                                                                        "name": "4",
                                                                        "type": "text",
                                                                        "label": "Approval (E)"
                                                                    },
                                                                    {
                                                                        "name": "5",
                                                                        "type": "text",
                                                                        "label": "Status (F)"
                                                                    },
                                                                    {
                                                                        "name": "6",
                                                                        "type": "text",
                                                                        "label": "(G)"
                                                                    },
                                                                    {
                                                                        "name": "7",
                                                                        "type": "text",
                                                                        "label": "(H)"
                                                                    },
                                                                    {
                                                                        "name": "8",
                                                                        "type": "text",
                                                                        "label": "(I)"
                                                                    },
                                                                    {
                                                                        "name": "9",
                                                                        "type": "text",
                                                                        "label": "(J)"
                                                                    },
                                                                    {
                                                                        "name": "10",
                                                                        "type": "text",
                                                                        "label": "(K)"
                                                                    },
                                                                    {
                                                                        "name": "11",
                                                                        "type": "text",
                                                                        "label": "(L)"
                                                                    },
                                                                    {
                                                                        "name": "12",
                                                                        "type": "text",
                                                                        "label": "(M)"
                                                                    },
                                                                    {
                                                                        "name": "13",
                                                                        "type": "text",
                                                                        "label": "(N)"
                                                                    },
                                                                    {
                                                                        "name": "14",
                                                                        "type": "text",
                                                                        "label": "(O)"
                                                                    },
                                                                    {
                                                                        "name": "15",
                                                                        "type": "text",
                                                                        "label": "(P)"
                                                                    },
                                                                    {
                                                                        "name": "16",
                                                                        "type": "text",
                                                                        "label": "(Q)"
                                                                    },
                                                                    {
                                                                        "name": "17",
                                                                        "type": "text",
                                                                        "label": "(R)"
                                                                    },
                                                                    {
                                                                        "name": "18",
                                                                        "type": "text",
                                                                        "label": "(S)"
                                                                    },
                                                                    {
                                                                        "name": "19",
                                                                        "type": "text",
                                                                        "label": "(T)"
                                                                    },
                                                                    {
                                                                        "name": "20",
                                                                        "type": "text",
                                                                        "label": "(U)"
                                                                    },
                                                                    {
                                                                        "name": "21",
                                                                        "type": "text",
                                                                        "label": "(V)"
                                                                    },
                                                                    {
                                                                        "name": "22",
                                                                        "type": "text",
                                                                        "label": "(W)"
                                                                    },
                                                                    {
                                                                        "name": "23",
                                                                        "type": "text",
                                                                        "label": "(X)"
                                                                    },
                                                                    {
                                                                        "name": "24",
                                                                        "type": "text",
                                                                        "label": "(Y)"
                                                                    },
                                                                    {
                                                                        "name": "25",
                                                                        "type": "text",
                                                                        "label": "(Z)"
                                                                    },
                                                                    {
                                                                        "name": "26",
                                                                        "type": "text",
                                                                        "label": "(AA)"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Values"
                                                            }
                                                        ]
                                                    },
                                                    "valueInputOption": {
                                                        "mode": "chose",
                                                        "label": "User entered"
                                                    }
                                                },
                                                "parameters": {
                                                    "__IMTCONN__": {
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "google"
                                                        },
                                                        "label": "Google Docs (YOUR_EMAIL@gmail.com)"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "__IMTCONN__",
                                                    "type": "account:google",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "mode",
                                                    "type": "select",
                                                    "label": "Search Method",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "select",
                                                            "fromAll",
                                                            "map"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "valueInputOption",
                                                    "type": "select",
                                                    "label": "Value input option",
                                                    "validate": {
                                                        "enum": [
                                                            "USER_ENTERED",
                                                            "RAW"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "from",
                                                    "type": "select",
                                                    "label": "Drive",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "drive",
                                                            "share",
                                                            "team"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "spreadsheetId",
                                                    "type": "file",
                                                    "label": "Spreadsheet ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "sheetId",
                                                    "type": "select",
                                                    "label": "Sheet Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "rowNumber",
                                                    "type": "uinteger",
                                                    "label": "Row number",
                                                    "required": true
                                                },
                                                {
                                                    "name": "includesHeaders",
                                                    "type": "select",
                                                    "label": "Table contains headers",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            true,
                                                            false
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Subject (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Sender Mail (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Thread ID (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Gamil Draft (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Approval (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Status (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "flow": [
                                    {
                                        "id": 20,
                                        "module": "google-sheets:updateRow",
                                        "version": 2,
                                        "parameters": {
                                            "__IMTCONN__": "YOUR_CONNECTION_ID"
                                        },
                                        "filter": {
                                            "name": "Rejected",
                                            "conditions": [
                                                [
                                                    {
                                                        "a": "{{7.`4`}}",
                                                        "b": "No",
                                                        "o": "text:equal"
                                                    }
                                                ]
                                            ]
                                        },
                                        "mapper": {
                                            "from": "drive",
                                            "mode": "select",
                                            "values": {
                                                "5": "Rejected"
                                            },
                                            "sheetId": "Sheet1",
                                            "rowNumber": "{{7.`__ROW_NUMBER__`}}",
                                            "spreadsheetId": "YOUR_SPREADSHEET_ID",
                                            "includesHeaders": true,
                                            "valueInputOption": "USER_ENTERED"
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 974,
                                                "y": 757
                                            },
                                            "restore": {
                                                "expect": {
                                                    "from": {
                                                        "label": "My Drive"
                                                    },
                                                    "mode": {
                                                        "label": "Search by path"
                                                    },
                                                    "sheetId": {
                                                        "label": "Sheet1"
                                                    },
                                                    "spreadsheetId": {
                                                        "path": [
                                                            "Mail Approval"
                                                        ]
                                                    },
                                                    "includesHeaders": {
                                                        "label": "Yes",
                                                        "nested": [
                                                            {
                                                                "name": "values",
                                                                "spec": [
                                                                    {
                                                                        "name": "0",
                                                                        "type": "text",
                                                                        "label": "Subject (A)"
                                                                    },
                                                                    {
                                                                        "name": "1",
                                                                        "type": "text",
                                                                        "label": "Sender Mail (B)"
                                                                    },
                                                                    {
                                                                        "name": "2",
                                                                        "type": "text",
                                                                        "label": "Thread ID (C)"
                                                                    },
                                                                    {
                                                                        "name": "3",
                                                                        "type": "text",
                                                                        "label": "Gamil Draft (D)"
                                                                    },
                                                                    {
                                                                        "name": "4",
                                                                        "type": "text",
                                                                        "label": "Approval (E)"
                                                                    },
                                                                    {
                                                                        "name": "5",
                                                                        "type": "text",
                                                                        "label": "Status (F)"
                                                                    },
                                                                    {
                                                                        "name": "6",
                                                                        "type": "text",
                                                                        "label": "(G)"
                                                                    },
                                                                    {
                                                                        "name": "7",
                                                                        "type": "text",
                                                                        "label": "(H)"
                                                                    },
                                                                    {
                                                                        "name": "8",
                                                                        "type": "text",
                                                                        "label": "(I)"
                                                                    },
                                                                    {
                                                                        "name": "9",
                                                                        "type": "text",
                                                                        "label": "(J)"
                                                                    },
                                                                    {
                                                                        "name": "10",
                                                                        "type": "text",
                                                                        "label": "(K)"
                                                                    },
                                                                    {
                                                                        "name": "11",
                                                                        "type": "text",
                                                                        "label": "(L)"
                                                                    },
                                                                    {
                                                                        "name": "12",
                                                                        "type": "text",
                                                                        "label": "(M)"
                                                                    },
                                                                    {
                                                                        "name": "13",
                                                                        "type": "text",
                                                                        "label": "(N)"
                                                                    },
                                                                    {
                                                                        "name": "14",
                                                                        "type": "text",
                                                                        "label": "(O)"
                                                                    },
                                                                    {
                                                                        "name": "15",
                                                                        "type": "text",
                                                                        "label": "(P)"
                                                                    },
                                                                    {
                                                                        "name": "16",
                                                                        "type": "text",
                                                                        "label": "(Q)"
                                                                    },
                                                                    {
                                                                        "name": "17",
                                                                        "type": "text",
                                                                        "label": "(R)"
                                                                    },
                                                                    {
                                                                        "name": "18",
                                                                        "type": "text",
                                                                        "label": "(S)"
                                                                    },
                                                                    {
                                                                        "name": "19",
                                                                        "type": "text",
                                                                        "label": "(T)"
                                                                    },
                                                                    {
                                                                        "name": "20",
                                                                        "type": "text",
                                                                        "label": "(U)"
                                                                    },
                                                                    {
                                                                        "name": "21",
                                                                        "type": "text",
                                                                        "label": "(V)"
                                                                    },
                                                                    {
                                                                        "name": "22",
                                                                        "type": "text",
                                                                        "label": "(W)"
                                                                    },
                                                                    {
                                                                        "name": "23",
                                                                        "type": "text",
                                                                        "label": "(X)"
                                                                    },
                                                                    {
                                                                        "name": "24",
                                                                        "type": "text",
                                                                        "label": "(Y)"
                                                                    },
                                                                    {
                                                                        "name": "25",
                                                                        "type": "text",
                                                                        "label": "(Z)"
                                                                    },
                                                                    {
                                                                        "name": "26",
                                                                        "type": "text",
                                                                        "label": "(AA)"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Values"
                                                            }
                                                        ]
                                                    },
                                                    "valueInputOption": {
                                                        "mode": "chose",
                                                        "label": "User entered"
                                                    }
                                                },
                                                "parameters": {
                                                    "__IMTCONN__": {
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "google"
                                                        },
                                                        "label": "Google Docs (YOUR_EMAIL@gmail.com)"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "__IMTCONN__",
                                                    "type": "account:google",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "mode",
                                                    "type": "select",
                                                    "label": "Search Method",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "select",
                                                            "fromAll",
                                                            "map"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "valueInputOption",
                                                    "type": "select",
                                                    "label": "Value input option",
                                                    "validate": {
                                                        "enum": [
                                                            "USER_ENTERED",
                                                            "RAW"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "from",
                                                    "type": "select",
                                                    "label": "Drive",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            "drive",
                                                            "share",
                                                            "team"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "spreadsheetId",
                                                    "type": "file",
                                                    "label": "Spreadsheet ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "sheetId",
                                                    "type": "select",
                                                    "label": "Sheet Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "rowNumber",
                                                    "type": "uinteger",
                                                    "label": "Row number",
                                                    "required": true
                                                },
                                                {
                                                    "name": "includesHeaders",
                                                    "type": "select",
                                                    "label": "Table contains headers",
                                                    "required": true,
                                                    "validate": {
                                                        "enum": [
                                                            true,
                                                            false
                                                        ]
                                                    }
                                                },
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Subject (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Sender Mail (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Thread ID (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Gamil Draft (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Approval (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Status (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            ]
        },
        "zone": "YOUR_MAKE_ZONE",
        "notes": []
    }
}